<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>OnlineShoppingCart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductCategory</display-name>
    <servlet-name>ProductCategory</servlet-name>
    <servlet-class>controller.ProductCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCategory</servlet-name>
    <url-pattern>/ProductCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartAdding</display-name>
    <servlet-name>CartAdding</servlet-name>
    <servlet-class>controller.CartAdding</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartAdding</servlet-name>
    <url-pattern>/CartAdding</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartSeervlet</display-name>
    <servlet-name>CartSeervlet</servlet-name>
    <servlet-class>controller.CartSeervlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartSeervlet</servlet-name>
    <url-pattern>/CartSeervlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkingservice</display-name>
    <servlet-name>checkingservice</servlet-name>
    <servlet-class>controller.checkingservice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkingservice</servlet-name>
    <url-pattern>/checkingservice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCart</display-name>
    <servlet-name>UpdateCart</servlet-name>
    <servlet-class>controller.UpdateCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCart</servlet-name>
    <url-pattern>/UpdateCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GstCalculation</display-name>
    <servlet-name>GstCalculation</servlet-name>
    <servlet-class>controller.GstCalculation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GstCalculation</servlet-name>
    <url-pattern>/GstCalculation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataCalculation</display-name>
    <servlet-name>DataCalculation</servlet-name>
    <servlet-class>controller.DataCalculation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataCalculation</servlet-name>
    <url-pattern>/DataCalculation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiscountServlet</display-name>
    <servlet-name>DiscountServlet</servlet-name>
    <servlet-class>controller.DiscountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscountServlet</servlet-name>
    <url-pattern>/DiscountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyingDiscountServlet</display-name>
    <servlet-name>ApplyingDiscountServlet</servlet-name>
    <servlet-class>controller.ApplyingDiscountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyingDiscountServlet</servlet-name>
    <url-pattern>/ApplyingDiscountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShippingServlet</display-name>
    <servlet-name>ShippingServlet</servlet-name>
    <servlet-class>controller.ShippingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShippingServlet</servlet-name>
    <url-pattern>/ShippingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
</web-app>